* {
  padding: 0;
  border: 0;
  margin: 0;
}

/* body {
  box-sizing: border-box;
  background: url('./images/bg2.svg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
} */

.fit_container {
  width: 100%;
}

.layer {
  width: 100%;
  height: 100%;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.second_layer {
  animation: rotate2 3s ease 0s 1 forwards;
  /* animation-direction: reverse; */
}

.third_layer {
  animation: rotate3 3s ease 0s 1 forwards;
}

.fourth_layer {
  animation: rotate4 3s ease 0s 1 forwards;
}

.bottom_triangle {
  width: 100%;
  height: 100vh;
  top: 0%;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transform: scaleX(1.4);
  transform: scaleY(1);
}
.diagonal_triangle {
  width: 100%;
  height: 80%;
  top: 0%;
  object-fit: cover;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transform: scaleX(1.4);
  /* transform:scaleY(1); */
}
.thirst_for_tech {
  animation: thirst_for_tech 1s ease 3s 1 forwards;
}

.Logo_bulb {
  /* box-sizing: border-box; */
  /* height: 100rem; */
  display: none;
  top: 150%;
  transform: scale(0.3);
  animation: Logo_bulb 1s ease 3s 1 forwards;
  display: block;
}

.logo_with_tagline {
  top: 150%;
  /* display: none; */
  animation: logo_with_tagline 1s ease 3s 1 forwards;
}

@keyframes rotate2 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(135deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes Logo_bulb {
  from {
    opacity: 0;
    top: 150%;
  }
  to {
    top: 0%;
    opacity: 1;
  }
}
@keyframes logo_with_tagline {
  from {
    top: 150%;
    display: block;
  }
  to {
    top: 30%;
    display: block;
  }
}

@keyframes thirst_for_tech {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: block;
  }
}

@keyframes rotate4 {
  0% {
    -webkit-transform: rotate(359deg);
  }
  25% {
    -webkit-transform: rotate(135deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes rotate3 {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@keyframes sweep-in {
  from {
    top: 100%;
  }

  to {
    top: 50%;
  }
}

@media only screen and (max-width: 850px) {
  .bottom_triangle {
    transform: scale(1.8);
  }

  .diagonal_triangle {
    transform: scale(1.8);
  }
}

@media only screen and (orientation: portrait) {
  .bottom_triangle {
    /* transform: scale(1.9); */
    /* transform: scaleY(1.9) */
  }
 .Logo_bulb{
   transform: scale(.24);
 }



  @keyframes logo_with_tagline {
    from {
      top: 150%;
      opacity: 0;
    }
    to {
      top: 50%;
      opacity: 1;
    }
  }
}
